{% extends "base.html" %}
{% load static %}
{% block title %}Seja bem Vindo!{% endblock title %}
{% block style %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<style>
    body {
        font-family: Arial, sans-serif;
        background-image: url('{% static "img/flowers_background.jpeg" %}');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #4a4a4a;
    }

    .container {
        width: 70%;
        height: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin-top: 50px;
    }

    .button-card {
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        padding: 15px;
        text-align: center;
        background-color: #fafafa;
        transition: transform 0.2s;
        height: 100%;
        color: inherit;
    }

    .button-card:hover {
        transform: scale(1.02);
    }

    .button-card i {
        font-size: 2rem;
        margin-bottom: 10px;
        color: #3b6d50;
    }

    .button-card h5 {
        margin: 0;
        font-size: 1.2rem;
        color: #3b6d50;
    }

    h2 {
        color: #3b6d50;
    }
</style>
{% endblock style %}
{% block content %}
<div class="container text-center">
    <h2>Seja bem vindo!</h3>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 d-flex justify-content-center gap-3 mt-4 flex-wrap">
        <div class="col">
            <a href="{% url 'list_verify' %}" style="text-decoration: none; color: inherit;">
                <div class="button-card h-100 d-flex flex-column">
                    <i class="fas fa-user-check"></i> 
                    
                    <h5>Confirmar a presença</h5>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="{% url 'gift_list' %}" style="text-decoration: none; color: inherit;">
                <div class="button-card h-100 d-flex flex-column">
                    <i class="fas fa-gift me-2"></i>  
                    
                    <h5>Ver lista de presentes</h5>
                </div>
            </a>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock content %}